xsd/mwn/us-letter-of-direction-choreography.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:lod-c="http://ddex.net/xml/lod-c/10"
           xmlns:avs="http://ddex.net/xml/avs/avs"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ddex.net/xml/lod-c/10"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:import namespace="http://ddex.net/xml/avs/avs"
              schemaLocation="avs.xsd"/>
   <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
              schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"/>
   <xs:annotation>
      <xs:documentation>© 2006-2014 Digital Data Exchange, LLC (DDEX)</xs:documentation>
      <xs:documentation>This XML Schema Definition file is, together with all DDEX standards, subject to two licences: If you wish to evaluate whether the standard meets your needs please have a look at the Evaluation Licence at https://kb.ddex.net/display/HBK/Evaluation+Licence+for+DDEX+Standards. If you want to implement and use this DDEX standard, please take out an Implementation Licence. For details please go to http://ddex.net/apply-ddex-implementation-licence.</xs:documentation>
   </xs:annotation>
   <xs:element name="ManifestMessage">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Message in the Letters Of Direction Choreography Standard that is sent to document the FTP transfer of a batch of Messages, potentially accompanied by Resource or Release files.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="MessageHeader" type="lod-c:FtpMessageHeader">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The MessageHeader for the ManifestMessage.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="IsTestFlag" type="xs:boolean">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Flag indicating whether the Message is a TestMessage (=True) or a LiveMessage (=False).</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RootDirectory" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">An Identifier of the root directory of all Messages in the batch communicated through the ManifestMessage.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="NumberOfMessages" type="xs:integer">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The number of Messages in the batch communicated through the ManifestMessage.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="MessageInBatch"
                        maxOccurs="unbounded"
                        type="lod-c:MessageInBatch">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a Message in the batch.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="MessageVersionId" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Version of the Message.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="FtpAcknowledgementMessage">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A response Message in the Letters Of Direction Choreography Standard that is sent to acknowledge the receipt of a manifest File via FTP.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="MessageHeader" type="lod-c:FtpMessageHeader">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The MessageHeader for the Message.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="AcknowledgedMessageId" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of the Message Files whose receipt is acknowledged.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="FileStatus" type="lod-c:FileStatus">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of the FileStatus.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="ErrorText" minOccurs="0" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Comment about the Message. This is solely to aid the MessageRecipient of the Message to resolve the issues complained about.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="ProposedActionType"
                        minOccurs="0"
                        type="lod-c:ProposedActionType">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of the Type of action that is proposed.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="MessageVersionId" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Version of the Message.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="FileStatus">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a FileStatus.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="avs:LodFileStatus">
            <xs:attribute name="Namespace" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Namespace of the FileStatus. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="UserDefinedValue" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A UserDefined value of the FileStatus. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FtpMessageHeader">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite placed at the beginning of each FtpAcknowledgementMessage providing information about the FtpAcknowledgementMessage such as MessageSender, MessageRecipient and a FtpAcknowledgementMessage creation time stamp.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MessageSender" type="lod-c:MessagingParty">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MessageRecipient" type="lod-c:MessagingParty">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of the MessageRecipient.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MessageCreatedDateTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DateTime on which the Message was created (the only allowed format is ISO 8601:2004: YYYY-MM-DDThh:mm:ssTZD).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MessageInBatch">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a Message in a Batch.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MessageContextType" type="avs:MessageContextType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MessageId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">An Identifier of the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="URL" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A URL of the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice minOccurs="0">
            <xs:element name="HashSum" type="lod-c:HashSum">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a HashSum of the File and information about the algorithm with which it has been generated.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Signature" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A digital signature in accordance with DDEX-DSIG.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProposedActionType">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a ProposedActionType.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="avs:LodProposedActionType">
            <xs:attribute name="Namespace" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Namespace of the ProposedActionType. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="UserDefinedValue" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A UserDefined value of the ProposedActionType. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="CatalogNumber">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a CatalogNumber.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="Namespace" type="xs:string" use="required">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Namespace of the CatalogNumber. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="HashSum">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a HashSum and its governing algorithm.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="HashSum" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The value of the HashSum.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="HashSumAlgorithmType" type="lod-c:HashSumAlgorithmType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of the Type of HashSumAlgorithm governing the HashSum.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="HashSumDataType" minOccurs="0" type="avs:BinaryDataType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The datatype of the HashSum.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HashSumAlgorithmType">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a HashSumAlgorithmType.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="avs:HashSumAlgorithmType">
            <xs:attribute name="Namespace" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Namespace of the HashSumAlgorithmType. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="UserDefinedValue" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A UserDefined value of the HashSumAlgorithmType. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ICPN">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of an ICPN.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="IsEan" type="xs:boolean" use="required">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Flag indicating whether the ICPN is specifically an EAN (=True) or a UPC (=False). This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="KeyInfo">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A KeyInfo Composite.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="X509Data" type="lod-c:X509Data">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">An X509Data Composite.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="Id" type="xs:ID">
         <xs:annotation>
            <xs:documentation source="ddex:Definition">An XmlAttribute of type xs:ID.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="MessagingParty">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a MessagingParty.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PartyId" maxOccurs="unbounded" type="lod-c:PartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of the PartyId for the Party handling the Message. If no Namespace is given, the Identifier is a DdexPartyId (DPID). Note that DPIDs are not normally used to identify Artists, Producers or other Creators.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PartyName" minOccurs="0" type="lod-c:PartyName">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of the PartyNames for the Party handling the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TradingName" minOccurs="0" type="lod-c:Name">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a TradingName for the Party handling the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="LanguageAndScriptCode" type="xs:string">
         <xs:annotation>
            <xs:documentation source="ddex:Definition">The Language and script for the Elements of the MessagingParty as defined in IETF RfC 5646. The default is the same as indicated for the containing composite. Language and Script are provided as lang[-scipt][-region][-variant]. This is represented in an XML schema as an XML Attribute.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="Name">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a Name.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="LanguageAndScriptCode" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Language and script of the Name as defined in IETF RfC 5646. The default is the same as indicated for the containing composite. Language and Script are provided as lang[-scipt][-region][-variant]. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PartyId">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a PartyId. If no Namespace is given, the Identifier is a DdexPartyId (DPID). Note that DPIDs are not normally used to identify Artists, Producers or other Creators.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="Namespace" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Namespace of the PartyId if it belongs to a proprietary Party xs:ID scheme. If the PartyId is a DPID, the Namespace Element must not be used. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsDPID" type="xs:boolean">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Flag indicating whether the PartyId is a DPID (=True) or not (=False). This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsISNI" type="xs:boolean">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Flag indicating whether the PartyId is an ISNI (=True) or not (=False). This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PartyName">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a PartyName. Name details for a Party typically either contain a FullName or a KeyName.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="FullName" type="lod-c:Name">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing the complete Name of the Party, in its normal form of presentation (e.g. John H. Smith, Acme Music Inc, A Composite containing the Beatles).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FullNameAsciiTranscribed" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The FullName transcribed using 7-bit ASCII code.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FullNameIndexed" minOccurs="0" type="lod-c:Name">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing the complete Name of the Party in the form in which it normally appears in an alphabetic index, with the KeyName first (e.g. Smith, John H.; Beatles, The).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NamesBeforeKeyName" minOccurs="0" type="lod-c:Name">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing the Name(s) preceding the KeyName in the FullName (and that is placed after it in a FullNameIndexed). Examples: 'George' in 'George Michael'; 'John Fitzgerald' in 'John Fitzgerald Kennedy'. Not all PartyNames have a NamesBeforeKeyName (e.g. Madonna, EMI Music Inc).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="KeyName" minOccurs="0" type="lod-c:Name">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing the Part of a Name of the Party normally used to index an entry in an alphabetical list, such as 'Smith' (in John Smith) or 'Garcia Marquez' or 'Madonna' or 'Francis de Sales' (in Saint Francis de Sales). For persons, this normally corresponds to the 'family name' or names, which in Western name forms usually comes as a surname at the end of a FullName, and in Asian name forms often at the beginning of a FullName. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NamesAfterKeyName" minOccurs="0" type="lod-c:Name">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing the Name(s) following the KeyName. Example:'Ibrahim' (in Anwar Ibrahim). This is common, e.g., in many Asian personal name forms where a FullName begins with the KeyName, which is followed by other names.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AbbreviatedName" minOccurs="0" type="lod-c:Name">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a short version of the PartyName (e.g. for use on devices with a small display).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="LanguageAndScriptCode" type="xs:string">
         <xs:annotation>
            <xs:documentation source="ddex:Definition">The Language and script for the Elements of the PartyName as defined in IETF RfC 5646. The default is the same as indicated for the containing composite. Language and Script are provided as lang[-scipt][-region][-variant]. This is represented in an XML schema as an XML Attribute.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="ProprietaryId">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a ProprietaryIdentifier.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="Namespace" type="xs:string" use="required">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The Namespace of the ProprietaryId. This is represented in an XML schema as an XML Attribute.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="X509Data">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">An X509Data Composite.</xs:documentation>
      </xs:annotation>
      <xs:sequence maxOccurs="unbounded">
         <xs:choice>
            <xs:element name="X509IssuerSerial" type="ds:X509IssuerSerialType">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">An Element of type X509IssuerSerialType.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="X509SKI" type="xs:base64Binary">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">An Element of type xs:base64Binary.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="X509SubjectName" type="xs:string">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">An Element of type xs:string.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="X509Certificate" type="xs:base64Binary">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">An Element of type xs:base64Binary.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="X509CRL" type="xs:base64Binary">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">An Element of type xs:base64Binary.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="PartyId" type="lod-c:PartyId">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of the PartyId for the Party. If no Namespace is given, the Identifier is a DdexPartyId (DPID). Note that DPIDs are not normally used to identify Artists, Producers or other Creators.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
